<div>
  <select name="root" id="table" (change)="onRootChange($event)">
    @for (table of tables; track $index) {
    <option [value]="table">{{ table }}</option>
    }
  </select>
  <div id="display">
    @for (table of addedTables; let i = $index ;track $index) { @if (i ===
    addedTables.length - 1) {
      <div id="removeBtn">
        <button class="removeButton" (click)="onRemoveTable(table)">Remover</button>
      </div>
    }
    <app-card-table
      [table]="table"
      [isRoot]="isRoot(table)"
      (onJoinTable)="onJoinTable(table, $event)"
      (onFinalizeChanges)="onChangeDataConstructor($event)"
    />
    }
  </div>
</div>

<app-dashboard-report [response]="response" />
