/* Limita o espaço do dashboard-report e adiciona scroll horizontal se necessário */
.dashboard {
  max-width: 90vw;
  width: 100%;
  margin: 0 auto;
  /* padding: 0 5vw; */
  /* padding-left: 5vw; */
  overflow-x: auto;
  box-sizing: border-box;
}

.dashboard app-dashboard-report {
  min-width: 80vw;
  display: block;
  /* padding-left: 3vw; */
}

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    max-width: 100vw;
    text-align: center;
}

div {
  margin: 1rem;
  font-family: Arial, sans-serif;
}

select, input[type="text"] {
  padding: 0.4rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: 0.2rem 0;
}

button {
  padding: 0.5rem 1rem;
  margin: 0.5rem 0.5rem 0.5rem 0;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;
}

table th, table td {
  border: 1px solid #ddd;
  padding: 0.5rem;
  text-align: left;
}

thead {
  background-color: #f2f2f2;
}

input[type="checkbox"] {
  transform: scale(1.2);
}

select[name="table"] {
  width: auto;
  margin-right: 0.5rem;
}

/* Diminui o tamanho da fonte geral */
body, div, select, input, button, table, th, td {
  font-size: 0.9rem;
}

/* Aumenta o tamanho da fonte dos parágrafos */
p {
  font-size: 1.2rem;
}